@{
	ViewData["Title"] = "About";
}

<style>
	.stat-bg {
		background-image: url(../images/statistics.jpg);
	}
</style>

@if (User.Identity.IsAuthenticated)
{

	<header class="fixed-top page-header bg-green" style="margin-top: 0px; min-height: 70px; padding-bottom: 0px;">
		<div class="container-fluid container-fluid-max ">
			<nav id="navbar" class="navbar navbar-expand-lg navbar-dark" style="margin-bottom: 0px;">
				<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand txt-white hov-nav-txt"><img src="~/images/logo_2.png" />    SBT.WebApp</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse " id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="txt-white hov-nav-txt nav-link">Home</a></li>
						<li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="About" class="txt-white hov-nav-txt nav-link">About</a></li>
						<li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Contact" class="txt-white hov-nav-txt nav-link">Contact</a></li>
						<li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Logout" class="txt-white hov-nav-txt nav-link">Logout</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>

	<div id="home" class="position-relative vh-100 cover hero stat-bg" style="min-height: 900px;">
		<div class="container-fluid container-fluid-max">
			<div class="row container4" id="id-block">
				<h1>Statistics</h1>
			</div>
		</div>
	</div>

	

	<div class="row">
		<div class="col-md-3">
			<h2>Application uses</h2>
			<ul>
				<li>Sample pages using ASP.NET Core MVC</li>
				<li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>How to</h2>
			<ul>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>Overview</h2>
			<ul>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h2>Run &amp; Deploy</h2>
			<ul>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
				<li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
			</ul>
		</div>
	</div>



}


