@{
	ViewData["Title"] = "Contact";
}

<div id="home" class="d-flex align-items-start position-relative vh-100 cover hero qwerty" style="min-height: 900px;">
	<div class="container-fluid container-fluid-max">
		<div class="row container4" id="id-block">
			<h1>CONTACTS</h1>
		</div>
	</div>
</div>

<div class="row mb-4">
	<div class="col-12 text-center">
		<h2 class="section-title mb-3"><strong>Where we are</strong></h2>
	</div>
</div>
<hr style="color: gray; width: 90%" />

<address style="margin-left: 60px;">
	One Microsoft Way<br />
	Redmond, WA 98052-6399<br />
	<abbr title="Phone">P:</abbr>
	425.555.0100
</address>

<div class="row mb-4">
	<div class="col-12 text-center">
		<h2 class="section-title mb-3"><strong>Write us</strong></h2>
	</div>
</div>
<hr style="color: gray; width: 90%" />

<address style="margin-left: 60px;">
	<strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div class="row mb-4">
	<div class="col-12 text-center">
		<h2 class="section-title mb-3"><strong>Used sources</strong></h2>
	</div>
</div>
<hr style="color: gray; width: 90%" />

<div style="margin-left: 60px;">
	<a href="https://miro.medium.com/max/3840/1*dMtstsKfpuHcBb-tIYQGTg.jpeg">
		https://miro.medium.com/max/3840/1*dMtstsKfpuHcBb-tIYQGTg.jpeg
	</a>

</div>	

<div style="margin-left: 60px; margin-bottom: 60px;">
	<a href="https://www.bethard.com/static/media/bethard.a2b18dbe.png">
		https://www.bethard.com/static/media/bethard.a2b18dbe.png
	</a>
</div>
