* {
  box-sizing: border-box;
}

:root {
  --green: green;
}

body {
    font-family: 'Adamina';
}

a,
a:hover {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.bg-green-other {
  background: var(--green);
}

.icons {
  margin-top: 30px;
  margin-bottom: 50px;
  -webkit-transition: color 1s, -webkit-transform 2s;
  -moz-transition:    color 1s;
  -ms-transition:     color 1s;
  -o-transition:      color 1s;
  transition:         color 1s,  transform 2s;
}
.icons:hover {
  color: var(--green);
  -webkit-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
}

.col-new {
  position: relative;
  width: 100%;
}

.text-green {
  color: var(--green);
}

.p-70 {
  padding: 70px 0;
}

.container-fluid-max {
  max-width: 1440px;
}

.cover {
  background: no-repeat center/cover;
}

.scroll .page-header {
  background: var(--green);
}

.page-header {
  transition: background 0.5s ease-in-out;
}

.page-header .navbar {
  padding: 1rem 0;
}

.page-header .navbar-toggler {
  border-color: white;
}

.bg-green {
  background: rgba(2, 105, 71, 0.83);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
}

.bg-white {
  background: rgba(2, 105, 71, 0.83);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
}


@media screen and (max-width: 991px) {
  .page-header {
    background: var(--green);
  }
}

.scroll .hero {
  transform: scale(0.98);
}

.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}

.hero .container-fluid {
  z-index: 10;
}

.pd {
  margin-top: 70px;
}

div.container4 {
    height: 10em;
    position: relative
}

div.container4 h1 {
    margin: 0;
    background: rgba(255, 255, 255, 0.83);
  	box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
    padding: 30px 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


/*Form*/
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.form-btn {
  background-color: #4CAF50;
  color: white;
  padding: 4px 20px;
  margin: 4px 0;
  margin-left: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.form-btn:hover {
  opacity:1;
}

.form-open-btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.form-open-btn:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
