@model SBT.WebApp.ViewModels.LoginModel


<script>
	function viewPassword() {
		var passwordInput = document.getElementById('password-field');
		var passStatus = document.getElementById('pass-status');

		if (passwordInput.type == 'password') {
			passwordInput.type = 'text';
			passStatus.className = 'fa fa-eye-slash';

		}
		else {
			passwordInput.type = 'password';
			passStatus.className = 'fa fa-eye';
		}
	}

</script>


<div class="position-relative vh-100 cover hero qwerty" style="min-height: 710px;">
	<div class="container-fluid container-fluid-max">
		<div class="row container4" id="id-block">
			<h1>Login</h1>
		</div>
	</div>

	<p class="registr-link">If you don't have an account, please,  <a asp-action="Register" asp-controller="Account" class="link-style">Sign Up</a></p>

	<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="form-position">
		<div class="validation" asp-validation-summary="ModelOnly" />
		<div>
			<div class="form-group">
				<label asp-for="Email" class="label-style">Input Email</label>
				<hr class="wh-back" />
				<input type="email" asp-for="Email" />
				<span asp-validation-for="Email" />
			</div>
			<div class="form-group">
				<label asp-for="Password" class="label-style">Input Password</label>
				<hr class="wh-back" />
				<input type="password" asp-for="Password" id="password-field" />
				<span asp-validation-for="Password" />
				<i id="pass-status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword()"></i>
			</div>
			<div class="form-group">
				<input type="submit" value="Login" class="btn" />
			</div>
		</div>
	</form>
</div>