<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SBT.WebApp</title>
	<link href='https://fonts.googleapis.com/css?family=Adamina' rel='stylesheet'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" />

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


	@RenderSection("Scripts", required: false)

	<environment include="Development">
		@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	@*<environment exclude="Development">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>*@
	<style>
		* {
			box-sizing: border-box;
		}

		body {
			padding-top: 0px;
			padding-bottom: 0px;
			font-family: 'Adamina';
		}

		.bg-green {
			background-color: rgba(2, 105, 71, 0.83);
			box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
			border: 0px;
		}

		.container-fluid-max {
			max-width: 1440px;
		}


		.page-header {
			transition: background 0.5s ease-in-out;
		}

			.page-header .navbar {
				padding: 1rem 0;
			}

			.page-header .navbar-toggler {
				border-color: white;
			}

		.scroll .page-header {
			background: rgb(0, 153, 77);
		}

		.page-header {
			transition: background 0.5s ease-in-out;
		}

	</style>
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="72" class="position-relative">

	<script>
		const $body = $("body");
		const $header = $(".page-header");
		const $navCollapse = $(".navbar-collapse");
		const scrollClass = "scroll";

		$(window).on("scroll", () => {
			if (this.matchMedia("(min-width: 992px)").matches) {
				const scrollY = $(this).scrollTop();
				scrollY > 0
					? $body.addClass(scrollClass)
					: $body.removeClass(scrollClass);
			} else {
				$body.removeClass(scrollClass);
			}
		});

		$(".page-header .nav-link, .navbar-brand").on("click", function (e) {
			e.preventDefault();
			const href = $(this).attr("href");
			$("html, body").animate({
				scrollTop: $(href).offset().top - 71
			}, 600);
		});

	</script>

	<!--<nav class="navbar navbar-fixed-top bg-green">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand txt-white hov-nav-txt">SBT.WebApp</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a asp-area="" asp-controller="Home" asp-action="Index" class="txt-white hov-nav-txt">Home</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="About" class="txt-white hov-nav-txt">About</a></li>
					<li><a asp-area="" asp-controller="Home" asp-action="Contact" class="txt-white hov-nav-txt">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>-->
	<!--
	<header class="fixed-top page-header bg-green" style="margin-top: 0px; height: 70px;">
		<div class="container-fluid container-fluid-max ">
			<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
				<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand txt-white hov-nav-txt">SBT.WebApp</a>
				<div class="collapse navbar-collapse " id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
						<li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a></li>
						<li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a></li>
					</ul>

				</div>
			</nav>
		</div>
	</header>-->

	<header class="fixed-top page-header bg-green" style="margin-top: 0px; min-height: 70px; padding-bottom: 0px;">
		<div class="container-fluid container-fluid-max ">
			<nav id="navbar" class="navbar navbar-expand-lg navbar-dark" style="margin-bottom: 0px;">
				<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand txt-white hov-nav-txt">SBT.WebApp</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse " id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="txt-white hov-nav-txt nav-link">Home</a></li>
						<li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="About" class="txt-white hov-nav-txt nav-link">About</a></li>
						<li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Contact" class="txt-white hov-nav-txt nav-link">Contact</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>




	<partial name="_CookieConsentPartial" />
	@RenderBody()

	<!--<div>
		<hr />
		<footer>
			<p>&copy; 2019 - SBT.WebApp</p>
		</footer>
	</div>-->

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


	<footer class="page-footer" style="background-color: rgb(204, 255, 204);">
		<div style="padding-bottom: 30px;">

			<!-- Grid row-->
			<div class="row text-center d-flex justify-content-center pt-5 mb-3">

				<!-- Grid column -->
				<div class="col-md-2 mb-3">
					<h6 class="text-uppercase font-weight-bold">
						<a href="#!" class="link-style">Home</a>
					</h6>
				</div>
				<!-- Grid column -->
				<!-- Grid column -->
				<div class="col-md-2 mb-3">
					<h6 class="text-uppercase font-weight-bold">
						<a href="#!" class="link-style">Account</a>
					</h6>
				</div>
				<!-- Grid column -->
				<!-- Grid column -->
				<div class="col-md-2 mb-3">
					<h6 class="text-uppercase font-weight-bold">
						<a href="#!" class="link-style">Bettings</a>
					</h6>
				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row-->

			<hr class="wh-back" style="margin: 0 15%;">

			<!-- Grid row-->
			<div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

				<!-- Grid column -->
				<div class="col-md-8 col-12 mt-5">
					<p style="line-height: 1.7rem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row-->
			<!--<hr class="wh-back " style="margin: 0 15%;">-->
			<p class="pd-to-footer"> </p>



		</div>
		<!-- Footer Links -->
		<!-- Copyright -->
		<div class="text-center py-3" style="background-color: lightgray">
			<p style="margin-bottom: 0px;">&copy; 2019 - SBT.WebApp, All rights reserved</p>
		</div>
		<!-- Copyright -->

	</footer>



	<!--<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>-->


</body>
</html>
